/*BODY*/
body {
    background-image: url('https://initiate.alphacoders.com/images/102/cropped-1366-768-1029784.jpg?1744');
    background-size: cover;
}



section.button {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;


}

section.button button {
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    width: 170px;
    height: 50px;
    opacity: 70%;
    border-style: initial;
    border-radius: 15px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);

}

section.button button::after {
    content: 'Welcome!';
}

section.button button:hover {
    opacity: 100%;
    box-shadow: 0 0 15px rgb(114, 112, 129);
    cursor: pointer;
}

