/*BODY*/
body {
    font-family:'Changa', sans-serif;
    color: rgb(172, 88, 4) ;
}


/*SECTION*/

section.calculadora {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 220px;
    height: 410px;
    margin: 0%;
    padding: 0%;
    background-color: rgba(219, 155, 36, 0.9);
    opacity: 80%;
    border-radius:15px ;
}
section.calculadora table {
    margin-right: 0%;
    padding-right: 0%;
    border: 0;

}
section.calculadora h1.title{
    text-align: center;
    border-bottom:2px solid rgb(172, 88, 4);
}

section.calculadora p {
    margin-left: 10px;
    text-align: center;
    background-color: white;
    height: 35px;
    width: 200px;
    border-bottom:2px solid rgb(172, 88, 4);
    
}

section.calculadora button.botão-normal {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: 1px;
    border-radius: 15px;
    border-color:rgb(172, 88, 4) ;
}

button:hover{
    opacity: 100%;
    background-color: azure;
}

button.botão-zero {
    cursor: pointer;
    width: 104px;
    height: 50px;
    border: 1px;
    border-radius: 15px;
    border-color:rgb(172, 88, 4) 
}

button.botão-igual {
    cursor: pointer;
    width: 50px;
    height: 104px;
    border: 1px;
    border-radius: 15px;
    border-color:rgb(172, 88, 4) 
}







