/* HEADER*/

header h1 {
    font-family:'DynaPuff';
    font-size: 30px;
}


header h1 span.preto {
    color: black;
}

header h1 span.amarelo {
    color: #DAA520;
}

/*BODY */

body {
  display: flex;
  justify-content: center;
}

/* IMAGEM */

section div.abelha img {
    width: 20px;
}

section div.pote img {
    width: 400px;
}
