/*BODY */

body {
    overflow: hidden;

}

section {
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0, #f5d37f, #ebbc48);
}

div.container {
    position: relative;
    height: 400px;
    width: 400px;
    background-color: #faeecf;
    border-radius: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

h1 {
    z-index: 1;
    font-family: 'DynaPuff';
    font-size: 65px;
}


h1 span.preto {
    color: black;
}

h1 span.amarelo {
    color: #dfa11d;
}


div.container img {
    position: absolute;
    width: 60px;
    height: 60px;
    animation: BeeRotating 10s linear infinite;
}

div.circle_bee {
    position: absolute;
    width: 350px;
    height: 350px;
    animation: CircleRotating 10s linear infinite;
}

@keyframes BeeRotating {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(-360deg)
    }
}

@keyframes CircleRotating {
    from {
        transform: rotateZ(0)
    }

    to {
        transform: rotateZ(360deg)
    }
}